@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-background: 249 250 251;
    --color-card: 255 255 255;
    --color-text: 15 23 42;
    --color-text-secondary: 100 116 139;
    --color-border: 226 232 240;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --color-background: 9 16 26;
      --color-card: 19 28 46;
      --color-text: 255 255 255;
      --color-text-secondary: 143 152 166;
      --color-border: 31 44 63;
    }
  }
}
